<h1 class="h3 mb-2 text-gray-800">Teams</h1>
<hr>
<div>  
  <%= link_to new_team_path, {remote: true, class: 'button is-small'} do %>
		<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
	<% end %>
</div>
<br />

<table class="table table-bordered">
  <thead>
    <tr class="text-center table-primary">
      <th>Name</th>
      <th>Color</th>
      <th>Numero de integrantes</th>
      <th>integrantes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <%= render 'teams/team', team: team %>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'modal_teams' %>
