<h1>Project Create</h1>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to this app: <%= @user.user_name %></h2>
    <p>
      You have successfully signed up to example.com,
      your username is: <%#= current_user %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

<h1>Se ha creado un projecto: <%= @project.name %></h1>