<h1 class="h3 mb-2 text-gray-800">Tasks</h1>
<hr>
 <div>  
  <%= link_to new_task_path, {remote: true, class: 'button is-small'} do %>
		<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
	<% end %>
</div>
<br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Días por trabajar</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
       <%= render 'tasks/task', task: task %>
    <% end %> 
  </tbody>
</table>
<br>

<%= render 'modal_tasks' %>



