<h1 class="text-center">Dashboard</h1>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3 d-flex justify-content-between">
                        <i class="fa fa-check-circle fa-2x"></i>
                        <div>
                            10
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>
                            Proyectos terminados
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class=" panel-yellow">
            <div class="panel-heading-yellow">
                <div class="row panel-2">
                    <div class="col-xs-3 d-flex justify-content-between">
                        <i class="fa fa-check-circle fa-2x"></i>
                         <div>
                            10
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>
                            Proyectos pendientes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3 d-flex justify-content-between">
                        <i class="fa fa-check-circle fa-2x"></i>
                        <div>
                            10
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>
                            Proyectos sin empezar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="h3 mb-2 text-gray-800">Charts</h1>

<div class="card">
  <div class="card-body">
    <div class="container">
        <div class="row">

            <div class="col">
                <%= column_chart Team.includes(:users).collect{|team| [team.name, team.users.size]}, prefix: "Cantidad User: "%>
            </div>
            
        </div>
    </div>
</div>



<div class="card">
  <div class="card-body">
    <div class="container">
        <div class="row">
         
            <div class="col">
                <%= pie_chart Task.joins(:project).group('projects.name').count, prefix: "Cantidad Tareas: " %>
            </div>
        </div>
    </div>
</div>
