<%= link_to root_path do %>
    <i class="fas fa-arrow-circle-left fa-2x icon-back"></i>
<% end %>

<div class="card border-dark mb-3 mt-2">
  <div class="card-header"><h1>New Project</h1></div>
  <div class="card-body text-dark">
    <%= render 'form', project: @project %>
  </div>
</div>






