<h1>Felicitaciones por tu pago</h1>

<p>El estado de tu pago es: </p>
<%= @status %>

<br>
<p>El id de tu pago es: </p>
<%= @payments_id %>
<br>
<p>Haz realizado el pago con el medio: </p>
<%= @type %>